.kartu-senjata {
    border-radius: 20px;
    box-shadow: 5px 8px rgb(0, 0, 0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    background-color: #ffffff;
}

.kartu-senjata:hover {
    transform: translateY(-8px);
    box-shadow: 2px 5px 0 0 #d4f55a;
    background-color: #ffffff;
    color: black
}

.header-senjata {
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: #FDE047;
    box-shadow: 3px 4px rgb(0, 0, 0);
}

.header-senjata img{
    width: 40px;
}

.gambar-senjata {
    height: 220px;
    object-fit: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.teks-sejarah {
    color: #6c757d;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 15px;
}

.detail-tombol {
    background-color: #1c1c24;
    color: #ffffff;
    border-radius: 12px;
    padding: 10px 24px;
    font-weight: bold;
    border: none;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
}

.detail-tombol:hover {
    background-color: #d4f55a;
    color: #1c1c24;
}

